<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <% if(bookExist){%>
        <div class="card">
            <div class="img-container">
                <div class="img-inner">
                    <div class="inner-skew">
                        <img src=<%=bookExist.src %>>
                    </div>
                </div>
            </div>
            <div class="title-container ">
                <h1 class="title">
                    <%= bookExist.name %>
                </h1>
                <h3 class="author">
                    <%= bookExist.author %>
                </h3>
                <div class="discription">
                    <%= bookExist.description %>
                </div>
                <h4 class="buy">Buy Book</h4>
            </div>
        </div>

        <% } %>


</body>

</html>